.form_social {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.form_social a {
    font-size: 0.8em;
    flex-basis: 45%;
}

.form {
    color: #ffffff;
}
.form-geral {
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
}

.form label {
    display: block;
    margin-top: 20px;
    width: 70%;
    font-size: 16px;
    margin-left:calc(15% - 15px) ;
  
  
}

.form .label_2 {
    display: flex;
    justify-content: space-between;
}

.form .label_2 label {
    width: calc(50% - 10px);
}

.form .field {
    display: block;
    margin-bottom: 5px;
}

.form input {   
    font-size: 1.2em;
    color: #000000;
    padding: 15px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;

}

.form input:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_actions button {
    order: 1;
    outline: none;
    align-items: center;
    font-size: 1.2em;
}

.form_actions a {
    color: #888888;
    font-weight: bold;
    font-size: 0.875em;
    text-transform: capitalize;
}

.form_legend {
    margin-bottom: 20px;
    color: #191654;
}

.form_register_action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #888888;
    color: #ffffff;
}

.form_register_action p {
    font-size: 0.875em;
 
}

.form-fundo{
    width: 60%;
    background-color: rgba(50, 50, 50, 0.7);
    margin: auto;
    border-radius: 5px;

}

.form-fundo > .title{
 text-align: center;
 font-weight: 600;
}

